Run `CertUtil -hashfile sshimas.exe MD5`, the correct output should be `940ef6c6b1ddd8d1d8a7de8ca55ea200`

For putty, `CertUtil -hashfile putty.exe MD5`, sha: `7e13b2d92d7490b8b3a1f10edfe2f410`